body{
	background-color: red;
	grid-template-columns: 40px 50px auto 50px 40px;
	grid-template-rows: 25% 100px auto;
	display: grid;
	grid-template-columns: 50px 50px 50px 50px;
	grid-template-rows: auto;
	grid-template-areas: 
		"header header header header"
		"main main . sidebar"
		"footer footer footer footer";
}

h1{
	color: black;
	font-size: 22px;
	font-family: arial;
	grid-column: 1 / span 1;
	grid-row: first-line / 1;
}

.text{
	background-color: white;
	border-width: 10 px;
	text-align: center;
	grid-column: 1 / span 1;
	grid-row: first-line / 2;
}

.info{
	border: 1px solid black;
	border-color: black;
	border-width: medium;
	border-radius: 20px;
	text-align: center;
	color: black;
	grid-column: 1 / span 1;
	grid-row: first-line / 3;
}

h2{
	color: black;
	font-size: 22px;
	text-align: center;
	grid-column: 2 / span 1;
	grid-row: second-line / 1;
}

.hej{
	background-color: white;
	color: green;
	text-align: center;
	grid-column: 2 / span 1;
	grid-row: second line / 2;
}

.right{
	background-color: white;
	border-width: 10px;
	text-align: right;
	grid-column: 2 / span 1;
	grid-row: second-line / 3;
}

p{
	color: blue;
	font-size: 20px;
}

a{
	text-decoration: none;
}

alt{
	color: blue;
	font-size: 20px;
}