body{
	background-color: red;
}

h1{
	color: black;
	font-size: 22px;
	font-family: arial;
}

.text{
	background-color: white;
	border-width: 10 px;
	text-align: center;
}

.info{
	border: 1px solid black;
	border-color:black;
	border-width: medium;
	border-radius: 20px;
	text-align: center;
	color: black;
}

h2{
	color: black;
	font-size: 22px;
}

.hej{
	background-color: white;
	color: green;
	text-align: center;
}

.right{
	background-color: white;
	border-width: 10px;
	text-align: center;
}

p{
	color: blue;
	font-size: 20px;
}

a{
	text-decoration: none;
}

alt{
	color: blue;
	font-size: 20px;
}